*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: black;
}
header{
    height: 120px;
    width: 100%;
}
.logo-netflix{
    height: 100px;
    width: 150px;
    padding-top: 15px;
}
.linha{
    height: 4px;
    background-color: red;
}
.intro-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
main{
    background-color: black;
}
.logo2{
    width: 50vw;
}
.txt1{
    width: 700px;
    font-size: 20px;
    color: white;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.txt2{
    width: 700px;
    font-size: 20px;
    color: white;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.cont-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.reginald{
    padding-top: 50px;
    height: 400px;
}
.txt3{
    width: 700px;
    font-size: 20px;
    color: white;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.grace{
    height: 340px;
}
.txt4{
    width: 700px;
    font-size: 20px;
    color: white;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.personagens{
    width: 700px;
    font-size: 20px;
    color: white;
    padding-bottom: 50px;
    padding-left: 270px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}
.luther{
    color: white;
}
.diego{
    color: white;
}
.alisson{
    color: white;
}
.klaus{
    color: white;
}
.cinco{
    color: white;
}
.ben{
    color:white;
}
.vanya{
    color: white;
}
.txt5{
    width: 700px;
    font-size: 20px;
    color: white;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.integrantes{
    width: 700px;
}
footer{
    background-color: red;
}
.copyright{
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 50px;
    padding-top: 50px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.yasmin{
    color: white;
}

@media (max-width:640px) {
    *{
        margin-right: 0;
        padding-right: 0;
    }
    .intro-container{
        padding-left: 50%;
        width: 20vw;
    }
    .txt1{
        width: 90vw;
    }
    .txt2{
        width: 90vw;
    }
    .cont-container{
        padding-left: 50%;
        width: 20vw;
    }
    .reginald{
       width: 90vw;
       height: auto;
    }
    .txt3{
        width: 90vw;
    }
    .grace{
        width: 90vw;
        height: auto;
    }
    .integrantes{
        width: 90vw;
        height: auto;
    }
}